.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background-color: #ffffff;
    display: inline-block;
    margin-left: 10px;
  }
}

.App-header {
  background-color: #282c34;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; 
}

.Button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
  margin: 5px;
  border-radius: 10px;
  
}

.MainButton {
  background-color: #10a4c9;
}

.Main {
  display: inline-block;
}

.Plate {
  border: 3px solid rgb(150, 150, 150);
  border-radius: 30px;
  height: 710px;
  width: 710px;
  padding: 20px;
  display: inline-block;
  margin-top: 120px;
}

.Selected {
  border: 3px solid rgba(86, 243, 235, 0.5);
  border-radius: 30px;
  padding: 16px;
  display: inline-block;
}

.Used {
  opacity: 0.3;
}

.SelectedBlocks {
  margin-left: 60px;
  display: inline-block;
  /* width: 210px; */
}

.OneSelectedBlock {
  margin: 10px;
}

.SmallLine {
  height: 44px;
}

.Line {
  height: 88px;
}

.SmallArea {
  display: inline-block;
  border: 1px solid rgb(220, 220, 220, 0.1);
  margin: 1px;
  height: 40px;
  width: 40px;
}

.Area {
  display: inline-block;
  border: 2px solid rgb(220, 220, 220, 0.1);
  margin: 2px;
  height: 80px;
  width: 80px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}